# build artifact
dist

#root npmrc
.npmrc

# built storybook
storybook-static

# other files
node_modules
.eslint_cahche
.DS_store
lerna-debug.log
yarn-error.log

# Custom
/packages/*/build/**
/packages/*/coverage/**
/node_modules/**
package-lock.json
tmp
dist
*/dist
./**/.next
*.yaml
*.yml
*.next
/packages/**/build
/packages/**/dist
Readme.md